body{
    background-color: #f3f3cb !important;
    padding-left: 50px;
    padding-top: 25px;
}
header{
    font-weight: 700;
    font-size: 40px;
    font-family: Aguafina Script; 
    letter-spacing: 4px;
}
.container{
    margin: 40px;
}
.img{
    border-radius: 50px;
    padding: 5px;
    max-width: 60%;    
    opacity: 0.75;
    display: block;
    margin-left: auto;
    margin-right: auto;
}